openapi: 3.1.0
info:
  title: Yengec Support AI Agent
  description: Multi-tenant, provider-agnostic AI draft response system for customer support tickets
  version: 1.0.0

servers:
  - url: https://support-ai.yengec.co
    description: Production
  - url: http://localhost:3001
    description: Local development

tags:
  - name: Auth
    description: Authentication & user session
  - name: Tenants
    description: Tenant management
  - name: Users
    description: User & membership management
  - name: Apps
    description: Provider app integrations
  - name: Tickets
    description: Support tickets
  - name: Customers
    description: Customer profiles
  - name: Knowledge Articles
    description: Knowledge base for RAG
  - name: Drafts
    description: AI-generated draft responses
  - name: Chat
    description: Internal KB test chat
  - name: Webhooks
    description: Inbound webhooks from providers
  - name: Health
    description: System health

components:
  securitySchemes:
    TenantApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Per-tenant API key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: User JWT access token

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
      required: [error]

    CursorPagination:
      type: object
      properties:
        next_cursor:
          type: string
          format: uuid
          nullable: true
          description: Cursor for the next page. null when there are no more results.
        has_more:
          type: boolean
          description: Whether there are more results after this page.
        total:
          type: integer
          description: Total number of records matching the current filters.
      required: [next_cursor, has_more, total]

    TenantSettings:
      type: object
      properties:
        auto_send_drafts:
          type: boolean
        default_language:
          type: string
        rag_top_k:
          type: integer
        ai_service:
          type: string
          example: deepseek
          description: AI service for chat/draft generation
        ai_model:
          type: string
          example: deepseek-chat
          description: AI model for chat/draft generation
        ai_credentials:
          type: object
          description: API credentials for chat/draft AI service
          properties:
            api_key:
              type: string
        embedding_service:
          type: string
          example: chat-gpt
          description: AI service for embeddings (defaults to chat-gpt)
        embedding_model:
          type: string
          example: text-embedding-3-small
          description: Model for embeddings (defaults to text-embedding-3-small)
        embedding_credentials:
          type: object
          description: API credentials for embedding service (falls back to ai_credentials if not set)
          properties:
            api_key:
              type: string
        ai_instructions:
          type: string
        draft_tone:
          type: string
          example: professional
        max_context_tokens:
          type: integer
        sync_lookback_minutes:
          type: integer
        output_app_ids:
          type: array
          items:
            type: string
            format: uuid
        auto_generate_kb:
          type: boolean
          description: Automatically generate KB articles from closed tickets

    Tenant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        api_key:
          type: string
        settings:
          $ref: '#/components/schemas/TenantSettings'
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        is_active:
          type: boolean
        last_login_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TenantUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [owner, admin, member]
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    App:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        code:
          type: string
          example: intercom
        type:
          type: string
          enum: [ticket, knowledge, notification]
        role:
          type: string
          enum: [source, destination, both]
        name:
          type: string
          nullable: true
        credentials:
          type: object
        webhook_secret:
          type: string
          nullable: true
        config:
          type: object
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        external_id:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        metadata:
          type: object
        ticket_count:
          type: integer
          description: Number of tickets for this customer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Ticket:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        customer_id:
          type: string
          format: uuid
          nullable: true
        input_app_id:
          type: string
          format: uuid
          nullable: true
        output_app_id:
          type: string
          format: uuid
          nullable: true
        external_id:
          type: string
        state:
          type: string
        subject:
          type: string
          nullable: true
        initial_body:
          type: string
          nullable: true
        language:
          type: string
          nullable: true
        assignee_id:
          type: string
          nullable: true
        last_message_at:
          type: string
          format: date-time
          nullable: true
        last_message_by:
          type: string
          nullable: true
        last_message_role:
          type: string
          nullable: true
          enum: [customer, agent, bot, system]
        customer:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
            name:
              type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ticket_id:
          type: string
          format: uuid
        external_id:
          type: string
        author_role:
          type: string
        author_id:
          type: string
          nullable: true
        author_name:
          type: string
          nullable: true
        body:
          type: string
          nullable: true
        attachments:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              file_name:
                type: string
              file_type:
                type: string
                nullable: true
              file_size:
                type: integer
                nullable: true
              url:
                type: string
              local_path:
                type: string
                nullable: true
        created_at:
          type: string
          format: date-time

    KnowledgeArticle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
        category:
          type: string
          nullable: true
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        embedding_status:
          type: object
          properties:
            total_chunks:
              type: integer
            embedded_chunks:
              type: integer

    Draft:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ticket_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        prompt_context:
          type: string
          nullable: true
        draft_response:
          type: string
        ai_model:
          type: string
          nullable: true
        ai_tokens_used:
          type: integer
          nullable: true
        status:
          type: string
          enum: [pending, approved, rejected, sent]
        reviewed_by:
          type: string
          nullable: true
        reviewed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

  parameters:
    tenantId:
      name: tenantId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    cursor:
      name: cursor
      in: query
      description: Cursor from previous page's next_cursor value
      schema:
        type: string
        format: uuid
    paginationLimit:
      name: limit
      in: query
      description: Maximum number of items per page (default 20, max 100)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

paths:
  # ── Health ──
  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time

  # ── Auth ──
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email is already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
                  tenants:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        slug:
                          type: string
                        role:
                          type: string
                          enum: [owner, admin, member]
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
        '401':
          description: Invalid or expired token

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current user profile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile with tenant memberships
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/User'
                  - type: object
                    properties:
                      tenants:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            slug:
                              type: string
                            role:
                              type: string

  /auth/change-password:
    post:
      tags: [Auth]
      summary: Change password
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [old_password, new_password]
              properties:
                old_password:
                  type: string
                new_password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Password changed
        '401':
          description: Wrong current password

  # ── User Tenants ──
  /my/tenants:
    post:
      tags: [Tenants]
      summary: Create a tenant for the authenticated user
      description: Creates a new tenant and assigns the authenticated user as owner.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, slug]
              properties:
                name:
                  type: string
                slug:
                  type: string
      responses:
        '201':
          description: Tenant created, user assigned as owner
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Tenant'
                  - type: object
                    properties:
                      tenant_user:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          tenant_id:
                            type: string
                            format: uuid
                          user_id:
                            type: string
                            format: uuid
                          role:
                            type: string
                            enum: [owner]
                          is_active:
                            type: boolean
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
        '409':
          description: Slug is already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── Tenants ──
  /tenants/{tenantId}:
    patch:
      tags: [Tenants]
      summary: Update tenant (owner)
      description: Partial update for tenant owners. Settings are merged (not replaced).
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                settings:
                  $ref: '#/components/schemas/TenantSettings'
      responses:
        '200':
          description: Tenant updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          description: No fields to update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Tenant not found
    get:
      tags: [Tenants]
      summary: Get tenant details
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      responses:
        '200':
          description: Tenant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '404':
          description: Not found

  # ── Users ──
  /tenants/{tenantId}/users:
    get:
      tags: [Users]
      summary: List tenant members
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
    post:
      tags: [Users]
      summary: Invite user to tenant
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
                role:
                  type: string
                  enum: [owner, admin, member]
                  default: member
      responses:
        '201':
          description: User invited
        '409':
          description: User already a member

  /tenants/{tenantId}/users/{userId}:
    get:
      tags: [Users]
      summary: Get tenant member
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Member details
        '404':
          description: Not found
    put:
      tags: [Users]
      summary: Update membership (role, active status)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum: [owner, admin, member]
                is_active:
                  type: boolean
      responses:
        '200':
          description: Membership updated
    delete:
      tags: [Users]
      summary: Remove user from tenant (owner only)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Removed

  # ── Apps ──
  /tenants/{tenantId}/apps:
    get:
      tags: [Apps]
      summary: List apps
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: type
          in: query
          schema:
            type: string
            enum: [ticket, knowledge, notification]
        - name: role
          in: query
          schema:
            type: string
            enum: [source, destination, both]
        - name: code
          in: query
          schema:
            type: string
        - name: is_active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of apps
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/App'
    post:
      tags: [Apps]
      summary: Create app
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, type, role, credentials]
              properties:
                code:
                  type: string
                  description: |
                    App code. Available codes:
                    - `intercom` (type: ticket, role: both) — Intercom conversations
                    - `github` (type: knowledge, role: source) — GitHub repo markdown files
                    - `web-scraper` (type: knowledge, role: source) — Web page crawler
                    - `slack-kb` (type: knowledge, role: source) — Slack channel threads
                  enum: [intercom, github, web-scraper, slack-kb]
                type:
                  type: string
                  enum: [ticket, knowledge, notification]
                role:
                  type: string
                  enum: [source, destination, both]
                name:
                  type: string
                credentials:
                  type: object
                  description: |
                    Auth credentials per app code:
                    - intercom: `{ accessToken, clientSecret }`
                    - github: `{ token, owner, repo, path?, branch? }`
                    - web-scraper: `{}`
                    - slack-kb: `{ botToken, ai_credentials?: { api_key } }`
                webhook_secret:
                  type: string
                config:
                  type: object
                  description: |
                    App-specific config per code:
                    - intercom: `{ send_as_note?: boolean, admin_id?: string }` — send_as_note: replies as internal notes; admin_id: Intercom admin ID used for sending replies
                    - web-scraper: `{ url, selector?, max_pages? }`
                    - slack-kb: `{ channel_ids, min_replies?, lookback_days?, ai_service?, ai_model? }`
      responses:
        '201':
          description: App created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'

  /tenants/{tenantId}/apps/{appId}:
    get:
      tags: [Apps]
      summary: Get app
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: appId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: App details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
    put:
      tags: [Apps]
      summary: Update app
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: appId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                credentials:
                  type: object
                webhook_secret:
                  type: string
                config:
                  type: object
                is_active:
                  type: boolean
                role:
                  type: string
                  enum: [source, destination, both]
      responses:
        '200':
          description: App updated
    delete:
      tags: [Apps]
      summary: Delete app
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: appId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Deleted

  /tenants/{tenantId}/apps/{appId}/sync:
    post:
      tags: [Apps]
      summary: Trigger app sync
      description: Manually trigger a sync job for the app. The job is queued and processed asynchronously by the worker.
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: appId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Sync job queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  job_id:
                    type: string
                  queue:
                    type: string
        '400':
          description: App type does not support sync or is destination-only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: App not found

  # ── Tickets ──
  /tenants/{tenantId}/tickets:
    get:
      tags: [Tickets]
      summary: List tickets
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/paginationLimit'
        - name: input_app_id
          in: query
          schema:
            type: string
            format: uuid
        - name: state
          in: query
          schema:
            type: string
        - name: customer_id
          in: query
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          deprecated: true
          schema:
            type: integer
      responses:
        '200':
          description: Paginated ticket list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticket'
                  pagination:
                    $ref: '#/components/schemas/CursorPagination'

  /tenants/{tenantId}/tickets/{id}:
    get:
      tags: [Tickets]
      summary: Get ticket with messages
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ticket with messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticket:
                    $ref: '#/components/schemas/Ticket'
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'

  /tenants/{tenantId}/tickets/sync:
    post:
      tags: [Tickets]
      summary: Trigger ticket sync from input app
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [app_id]
              properties:
                app_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Sync started

  /tenants/{tenantId}/tickets/{id}/output-app:
    patch:
      tags: [Tickets]
      summary: Set ticket output app
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [output_app_id]
              properties:
                output_app_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Output app set

  # ── Customers ──
  /tenants/{tenantId}/customers:
    get:
      tags: [Customers]
      summary: List customers
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/paginationLimit'
        - name: email
          in: query
          schema:
            type: string
        - name: name
          in: query
          schema:
            type: string
        - name: page
          in: query
          deprecated: true
          schema:
            type: integer
      responses:
        '200':
          description: Paginated customer list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  pagination:
                    $ref: '#/components/schemas/CursorPagination'
    post:
      tags: [Customers]
      summary: Create or upsert customer
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
                phone:
                  type: string
                external_id:
                  type: string
                metadata:
                  type: object
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /tenants/{tenantId}/customers/{id}:
    get:
      tags: [Customers]
      summary: Get customer
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /tenants/{tenantId}/customers/{id}/metadata:
    put:
      tags: [Customers]
      summary: Update customer metadata
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [metadata]
              properties:
                metadata:
                  type: object
      responses:
        '200':
          description: Metadata updated

  # ── Knowledge Articles ──
  /tenants/{tenantId}/knowledge-articles:
    get:
      tags: [Knowledge Articles]
      summary: List knowledge articles
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/paginationLimit'
        - name: category
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: is_active
          in: query
          schema:
            type: boolean
        - name: page
          in: query
          deprecated: true
          schema:
            type: integer
      responses:
        '200':
          description: Paginated article list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KnowledgeArticle'
                  pagination:
                    $ref: '#/components/schemas/CursorPagination'
    post:
      tags: [Knowledge Articles]
      summary: Create knowledge article
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content]
              properties:
                title:
                  type: string
                content:
                  type: string
                category:
                  type: string
      responses:
        '201':
          description: Article created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeArticle'

  /tenants/{tenantId}/knowledge-articles/{id}:
    get:
      tags: [Knowledge Articles]
      summary: Get knowledge article
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Article details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeArticle'
    put:
      tags: [Knowledge Articles]
      summary: Update knowledge article
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                category:
                  type: string
      responses:
        '200':
          description: Article updated
    delete:
      tags: [Knowledge Articles]
      summary: Soft-delete knowledge article
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Deleted

  /tenants/{tenantId}/knowledge-articles/embed:
    post:
      tags: [Knowledge Articles]
      summary: Trigger embedding for all articles
      description: Manually trigger embedding generation for all knowledge base chunks that don't have embeddings yet.
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      responses:
        '202':
          description: Embedding jobs queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  enqueued:
                    type: integer
                    description: Number of embedding jobs added to the queue
                  message:
                    type: string

  /tenants/{tenantId}/knowledge-articles/{id}/embed:
    post:
      tags: [Knowledge Articles]
      summary: Trigger embedding for a single article
      description: Manually trigger embedding generation for chunks of a specific article.
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Embedding results for the article
          content:
            application/json:
              schema:
                type: object
                properties:
                  article_id:
                    type: string
                    format: uuid
                  processed:
                    type: integer
                  failed:
                    type: integer
                  embedding_status:
                    type: object
                    properties:
                      total_chunks:
                        type: integer
                      embedded_chunks:
                        type: integer
        '404':
          description: Article not found

  /tenants/{tenantId}/knowledge-articles/generate-from-tickets:
    post:
      tags: [Knowledge Articles]
      summary: Generate KB articles from closed tickets
      description: Summarizes closed tickets that don't have KB articles yet using AI, and creates knowledge base articles from them.
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      responses:
        '202':
          description: KB generation jobs queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  enqueued:
                    type: integer
                    description: Number of KB generation jobs added to the queue
                  message:
                    type: string

  # ── Drafts ──
  /tenants/{tenantId}/drafts:
    get:
      tags: [Drafts]
      summary: List all drafts for a tenant
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/paginationLimit'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected, sent]
        - name: offset
          in: query
          deprecated: true
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: List of drafts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Draft'
                  pagination:
                    $ref: '#/components/schemas/CursorPagination'

  /tenants/{tenantId}/tickets/{id}/draft:
    post:
      tags: [Drafts]
      summary: Generate AI draft for ticket
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Draft generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'

  /tenants/{tenantId}/tickets/{id}/drafts:
    get:
      tags: [Drafts]
      summary: List drafts for ticket
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/paginationLimit'
      responses:
        '200':
          description: List of drafts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Draft'
                  pagination:
                    $ref: '#/components/schemas/CursorPagination'

  /tenants/{tenantId}/drafts/{id}:
    patch:
      tags: [Drafts]
      summary: Approve or reject draft
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [approved, rejected]
                reviewed_by:
                  type: string
      responses:
        '200':
          description: Draft status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'

  /tenants/{tenantId}/drafts/{id}/send:
    post:
      tags: [Drafts]
      summary: Send approved draft
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Draft sent
        '400':
          description: Draft must be approved first

  # ── Chat ──
  /tenants/{tenantId}/chat:
    post:
      tags: [Chat]
      summary: Test knowledge base with a question
      description: Send a question and get an AI-generated answer using the tenant's knowledge base. Returns the answer and the KB sources used.
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question]
              properties:
                question:
                  type: string
                  description: The question to ask
                history:
                  type: array
                  description: Previous conversation messages for multi-turn chat
                  items:
                    type: object
                    required: [role, content]
                    properties:
                      role:
                        type: string
                        enum: [user, assistant]
                      content:
                        type: string
      responses:
        '200':
          description: AI-generated answer with KB sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                  sources:
                    type: array
                    items:
                      type: object
                      properties:
                        chunk_id:
                          type: string
                          format: uuid
                        article_id:
                          type: string
                          format: uuid
                        content:
                          type: string
                  tokens_used:
                    type: integer
                    nullable: true
        '400':
          description: Missing question
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── Attachments ──
  /tenants/{tenantId}/attachments/{attachmentId}:
    get:
      tags: [Tickets]
      summary: Serve attachment file
      description: Returns the attachment file. Files are stored locally after download from the source system.
      security:
        - BearerAuth: []
        - TenantApiKey: []
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: attachmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Attachment file
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '404':
          description: Attachment not found

  # ── Webhooks ──
  /webhooks/{tenantId}/apps/{appId}:
    post:
      tags: [Webhooks]
      summary: Receive webhook from provider
      parameters:
        - $ref: '#/components/parameters/tenantId'
        - name: appId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook received
        '401':
          description: Invalid signature
